*{
  outline:1px dotted green;
}
.header{
  .badge{
    width: 22px;
    height: 18px;
  }
}
.offcanvas-body-scroller{
	overflow-y: scroll; /* showing scrollbars */
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
	  background-color: $secondary;
  }
  &::-webkit-scrollbar-track{
	  border-radius: 10px;
	  background-color: #f5f5f5;
  }
  &::-webkit-scrollbar{
	  background-color:$secondary;
    width: 3px;
  }
}