<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="header container py-4 py-md-5">
    <h1 class="h3 text-primary text-center position-relative">
      EXHIBINECTION
      <div class="header-info d-flex position-absolute top-50 end-0 translate-middle-y">
        <a href="#" class="h5 text-dark fw-normal me-md-6 me-lg-8 d-none d-md-block">Sing in</a>
        <a href="#" class="h5 text-dark fw-normal me-md-6 me-lg-8 d-none d-md-block">Sing up</a>
        <a href="#" class="position-static material-icons text-black" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight">
          confirmation_number
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary text-white">
            3
          </span>
          <span class="visually-hidden">unread messages</span>
        </a>
      </div>
    </h1>
  </div>
  <!--offcanvas-->
  <div class="offcanvas offcanvas-end bg-black p-md-5 mb-3" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header text-white p-0 mb-3">
      <h5 id="offcanvasRightLabel" class="h3 fw-bold">Cart List</h5>
    </div>
    <div class="offcanvas-body text-white offcanvas-body-scroller p-0">
      <!--offcanvas-card-->
      <div class="card mb-3 rounded-2">
        <button type="button" class="btn-close" aria-label="Close"></button>
        <div class="row g-0 p-4 h-100">
          <!--card圖片-->
          <div class="col-5 pe-4 d-flex justify-content-center">
            <img src="https://fakeimg.pl/120x120/" class="img-fluid rounded-0" alt="...">
          </div>
          <!--card文字-->
          <div class="col-7">
            <div class="card-body p-0 h-100">
              <div class="row g-0 h-100">
                <!--card文字內容-->
                <div class="col-9 d-flex flex-column">
                  <h5 class="card-title mb-1 fw-bold text-black">2020 台味設計展</h5>
                  <h5 class="card-title mb-1 text-black fw-medium">01 JUN - 31 OCT</h5>
                  <p class="card-text text-dark">全票</p>
                  <p class="h4 fw-bold text-black mt-auto">NT$350</p>
                </div>
                <!--card計數-->
                <div class="col-3 d-flex flex-column justify-content-around">
                  <a href="#" class="text-center">
                    <span class="material-icons add">
                      add
                    </span>
                  </a>
                  <input type="text" class="number p-0 m-0 text-center w-100 border-0" value="01"
                    onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
                  <a href="#" class="text-center">
                    <span class="material-icons sub">
                      remove
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-footer p-4 d-flex align-items-center">
      <p class="text-white fw-medium h4 me-6">小計</p>
      <p class="amount me-auto fw-medium h4 text-white">NT1050</p>
      <button class="btn btn-block text-primary bg-white">前往結帳</button>
    </div>
  </div>

  <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

<script>
  // offcanvas card close btn
  $(document).ready(function () {
    $('.btn-close').click(function (e) {
      e.preventDefault();
      $(this).parent('.card').remove();
    })
    // offcanvas card add mount
    $('.add').click(function (e) {
      e.preventDefault();
      let num = $(this).parent().siblings('.number').val();
      // console.log(num);
      num++;
      // console.log(num);
      if (num < 10) {
        // console.log($(this).parent().siblings('.number'))
        $(this).parent().siblings('.number').val(`0${num}`);
      } else {
        $(this).parent().siblings('.number').val(num);
      }
    })
    //offcanvas card sub mount
    $('.sub').click(function (e) {
      e.preventDefault();
      let num = $(this).parent().siblings('.number').val();
      console.log(num);
      num--;
      console.log(num);
      if (num < 1) {
        let num = 1
        $(this).parent().siblings('.number').val(`0${num}`);
      } else if (num < 10) {
        $(this).parent().siblings('.number').val(`0${num}`);
      }
    })
  });

  let cart = [
    {
      title: '2020 台味設計展',
      date: '01 JUN — 31 OCT',
    },
    {
      title: 'No.22 線上設計展',
      date: '01 JUN — 31 OCT',
    },
    {
      title: '高雄設計節',
      date: '01 JUN — 31 OCT',
    }
  ]

  // offcanvas card
  let offcanvasCard = '';
  for (let i = 0; i < cart.length; i++) {
    offcanvasCard += `<div class="card mb-3 rounded-2">
        <button type="button" class="btn-close" aria-label="Close"></button>
        <div class="row g-0 p-4 h-100">
          <!--card圖片-->
          <div class="col-5 pe-4 d-flex justify-content-center">
            <img src="https://fakeimg.pl/120x120/" class="img-fluid rounded-0" alt="...">
          </div>
          <!--card文字-->
          <div class="col-7">
            <div class="card-body p-0 h-100">
              <div class="row g-0 h-100">
                <!--card文字內容-->
                <div class="col-9 d-flex flex-column">
                  <h5 class="card-title mb-1 fw-bold text-black">${cart[i].title}</h5>
                  <h5 class="card-title mb-1 text-black fw-medium">${cart[i].date}</h5>
                  <p class="card-text text-dark">全票</p>
                  <p class="h4 fw-bold text-black mt-auto">NT$350</p>
                </div>
                <!--card計數-->
                <div class="col-3 d-flex flex-column justify-content-around">
                  <a href="#" class="text-center">
                    <span class="material-icons add">
                      add
                    </span>
                  </a>
                  <input type="text" class="number p-0 m-0 text-center w-100 border-0" value="01"
                    onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
                  <a href="#" class="text-center">
                    <span class="material-icons sub">
                      remove
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>`
  }
  document.querySelector('.offcanvas-body').innerHTML = offcanvasCard;

</script>

</html>